tbody{
    text-align: center;
}
.table-id{
    width:7%;
    margin:0;
    padding:2px;
    
}

.table-email{
    width: 35%;
    margin:0;
    padding:2px;
    text-align: left;
}

.table-phone{
    width:15%;
    margin-left:0;
    padding:2px;
    
}

.table-dob{
    width:9%;
    margin-left:0;
    padding:5px;
    
}


.table-wh{
    width:9%;
    /* margin-left:0;
    padding:5px;
     */
}

.table-fullname{
    width:30%;
    /* margin-left:0;
    padding:5px;
     */
}
.func-btn{
    width: 100%;
    padding:20px;
    height:5%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);

}

.action-btn{
    background-color: rgb(54, 132, 250);
    margin:0 10% 0 10%;
    max-width: 20%;
    height: 5%;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.heading{
    margin: 25px 0% 40px 5%;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    margin-bottom: 100px;

}